extends layout

block content
	h1= title
	p Welcome to #{title}
	div.image-area
		each YearMonthDatePhotos , year in photos
			each MonthDatePhotos , month in YearMonthDatePhotos
				each DatePhotos , date in MonthDatePhotos
					div.image-block(id= year + month + date)
						p.date-title  #{year}年#{month}月#{date}日
						div.image-block-content
							each photo in DatePhotos
								div
									img(src = photo.urls.mediumUrl,class= 'code-image')
									p #{photo.title}

script(src= '/jquery/dist/jquery.min.js')
script(src= '/bootstrap/dist/js/bootstrap.min.js')
script(src= '/javascripts/index/index.js')